/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
/apps/telemetrix/priv/certs/mosquitto.crt

.vscode/


# certs
certs/*
mosquitto/*.pem
mosquitto/*.key
mosquitto/*.crt
mosquitto/rootCA.pem
mosquitto/mosquitto_passwd
apps/telemetrix/priv/certs/*

*.pem
*.key
*.crt


# Env files
.env
.env.dev


*.bat
*.exp
*.pdb
*.dll
*.a
*.so
*.db-shm
*.db-wal
package-lock.json
*.sqlite
node_modules/
build/
# C benchmark binary
bench/bench
deno.lock
bun.lockb
.DS_Store

mosquitto/*.key
ansible/secrets.yml